{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "home_budget/css/bill.css" %}">
{% endblock %}

{% block header %}Dodaj paragon{% endblock %}
{% block content %}
<form id="create-bill-form" class="form-contact" role="form" method="post">{% csrf_token %}
    <div id="bill-details-form" class="form-group">
        <div class="form-group text-center">
            {{ form.brand.label_tag }}
            {{ form.brand }}
        </div>
        <div class="form-group text-center">
            {{ form.shop.label_tag }}
            {{ form.shop }}
            <script type="text/javascript">
                var brandsToShops = JSON.parse('{{ shops | escapejs }}');
            </script>
        </div>
        <div class="form-group text-center">
            {{ form.time_of_purchase.label_tag }}
            <div id="bill-date" class="input-group date" data-provide="datepicker-inline">
                {{ form.time_of_purchase }}
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="bill-records" class="form-group text-center">
        {{ purchase_formset.management_form }}
        <div id="record-labels" class="row">
            <div class="col-md-4 form-group">
                {{ purchase_formset.0.name.label_tag }}
            </div>
            <div class="col-md-3 form-group">
                {{ purchase_formset.0.product_category.label_tag }}
            </div>
            <div class="col-md-2 form-group">
                {{ purchase_formset.0.unit_price.label_tag }}
            </div>
            <div class="col-md-2 form-group">
                {{ purchase_formset.0.amount.label_tag }}
            </div>
        </div>

        <div id="forms">
        {% for form in purchase_formset %}
            <div class="row">
                {{form.id}}
                <div class="col-md-4 form-group">
                    {{form.name}}
                </div>
                <div class="col-md-3 form-group">
                    {{form.product_category}}
                </div>
                <div class="col-md-2 form-group">
                    {{form.unit_price}}
                </div>
                <div class="col-md-2 form-group">
                    {{form.amount}}
                </div>
                <div class="col-md-1 form-group">
                    <button type="button" class="btn btn-warning remove-form">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="form-group">
            <button id="add-form" type="button" class="btn btn-info" disabled>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% block submit-name %}Dodaj{% endblock %}" disabled>
        </input>
    </div>
</form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'home_budget/js/bill.js' %}"></script>
{% endblock %}
