{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "home_budget/css/bill_create.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form id="create-bill-form" class="form-contact" role="form" method="post">{% csrf_token %}
            <h1 class="text-center">Dodaj paragon</h1>
            <div id="bill-details-form" class="form-group">
                <div class="form-group text-center">
                    <label for="id_brand">Sieć sklepów</label>
                    <select id="id_brand" name="brand" class="form-control" required>
                        <option value="">----------</option>
                        {% for brand in brands %}
                            <option>{{ brand }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center">
                    <label for="id_shop_address">Sklep</label>
                    <select id="id_shop_address" name="shop_address" class="form-control" required disabled>
                        <option value="">----------</option>
                        <script type="text/javascript">
                            var shops = JSON.parse('{{ shops | escapejs }}');
                        </script>
                    </select>
                </div>
                <div class="form-group text-center">
                    <label for="id_shop_address">Data zakupu</label>
                    <div id="bill-date" class="input-group date" data-provide="datepicker-inline">
                        <input type="text" class="form-control" disabled>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="bill-records" class="form-group text-center">
                <div id="record-labels" class="row">
                    <div class="col-md-5 form-group">
                        <label for="name">Nazwa</label>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="category">Kategoria</label>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="price">Cena</label>
                    </div>
                    <div class="col-md-1 form-group">
                        <label for="amount">Ilość</label>
                    </div>
                </div>

                <div id="bill-records-rows">
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <input class="form-control" id="name0" name="name" type="text" disabled/>
                        </div>
                        <div class="col-md-3 form-group">
                            <select id="category0" name="category" class="form-control" required disabled>
                                <option value="">----------</option>
                                {% for category in categories %}
                                    <option>{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <input class="form-control text-center" id="price0" name="price" type="number" min="0.00" step="0.01" value="0.99" disabled/>
                        </div>
                        <div class="col-md-1 form-group">
                            <input class="form-control text-center" id="amount0" name="amount" type="number" min="1" step="any" value="1" disabled/>
                        </div>
                        <div class="col-md-1 form-group">
                            <button type="button" class="btn btn-warning remove-bill-record">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button id="add-bill-record" type="button" class="btn btn-info" disabled>
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit" disabled>
                    Dodaj
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'home_budget/js/bill_create.js' %}"></script>
{% endblock %}
