{% extends "base.html" %}

{% load static %}

{% block header %}
<div class="row">
    <div class="form-group input-group-lg col-md-6 col-md-offset-3 has-success">
        <strong><input id="brand-name" class="form-control input-lg text-center" type="text" name="" value="{{ brand_name }}" disabled></strong>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="row form-group">
        <div class="col-md-2 col-md-offset-5 form-group text-center">
            <button id="brand-name-edit" type="button" class="btn btn-info remove-form">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button type="button" class="btn btn-danger remove-form">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
    <div id="forms" class="form-group text-center">
        {% for shop in brand_shops %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-10 form-group">
                        {{shop.adres}}
                    </div>
                    <div class="col-md-2 form-group">
                        <button type="button" class="btn btn-warning remove-form">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <button id="add-form" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="form-group col-md-8 col-md-offset-2">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% block submit-name %}Zapisz{% endblock %}">
        </input>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'home_budget/js/brand.js' %}"></script>
{% endblock %}
