{% extends "base.html" %}

{% load static %}

{% block header %}Sieć sklepów{% endblock %}
{% block content %}
<form id="shops-formset" action="" method="post">
    <div class="panel">
        <div class="row panel-heading">
            <div id="brand-form" class="form-group input-group-lg col-md-6 col-md-offset-3 has-success"> {% csrf_token %}
                <strong>{{ brand_form }}<strong>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-5 form-group text-center">
                <button id="brand-name-edit" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button id="brand-delete-button" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <div hidden id="brand-delete-confirm">
                    <strong>Czy na pewno chcesz usunąć tę sieć sklepów?<strong>
                    <div class="modal-body">
                        <button id="brand-delete-yes" form="shops-formset" type="submit" class="btn btn-success" formmethod="post" name="delete_brand" value="true" url="">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button id="brand-delete-no" type="button" class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center"> {% csrf_token %}
        {{ brand_shops.management_form }}
        <div id="forms" class="form-group text-center">
            {% for shop in brand_shops %}
                <div class="row">
                    {{ shop.id }}
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-10 form-group">
                            {{ shop.address }}
                            {{ shop.brand }}
                        </div>
                        <div class="col-md-2 form-group">
                            <button type="button" class="btn btn-warning remove-form">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <button id="add-form" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input id="submit-button" form="shops-formset" class="btn btn-lg btn-primary btn-block" type="submit"value="{% block submit-name %}Zapisz{% endblock %}">
            </input>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'home_budget/js/brand.js' %}"></script>
{% endblock %}
