{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vis.min.css" %}">
{% endblock %}

{% block content %}
    <div id="visualization"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var visURL = "{% static 'js/vis.min.js' %}";
        var expenses = JSON.parse('{{ daily_expenses | escapejs }}');
        var startDate = JSON.parse('{{ start_date | escapejs }}');
        var endDate = JSON.parse('{{ end_date | escapejs }}');
    </script>
    <script src="{% static 'home_budget/js/statistics.js' %}"></script>
{% endblock %}
