{% extends 'base.html' %}

{% load static humanize %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="{% static "css/vis.min.css" %}">
{% endblock %}

{% block header %}{% endblock %}
{% block content %}
    <div class="panel">
        <div class="panel-body row">
            <div class="col-md-10">
                <div id="visualization"></div>
            </div>
            <div class="col-md-2 form-group text-center">
                <div class="form-group">
                    <label for="id_czas_zakupu">Sumarycznie</label>
                    <div class="form-control">
                        {{ total_sum | floatformat:2 }} zł
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_czas_zakupu">Potrzebne wydatki</label>
                    <div class="form-control">
                        {{ must_have_sum | floatformat:2 }} zł
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_czas_zakupu">Opcjonalne wydatki</label>
                    <div class="form-control">
                        {{ optional_sum | floatformat:2 }} zł
                    </div>
                </div>
                <form class="form-group" method="GET" name="date-range">
                    <div class="form-group">
                        <div class="input-group input-daterange text-center" id="date-range">
                            <label for="id_czas_zakupu">Od</label>
                            <div class="form-group">
                                <input id="start-date" name="start-date" type="text" class="form-control">
                            </div>
                            <label for="id_czas_zakupu">Do</label>
                            <div class="form-group">
                                <input id="end-date" name="end-date" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Pokaż"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var visURL = "{% static 'js/vis.min.js' %}";
        var expenses = JSON.parse('{{ daily_expenses | escapejs }}');
        var startDate = JSON.parse('{{ start_date | escapejs }}');
        var endDate = JSON.parse('{{ end_date | escapejs }}');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'home_budget/js/statistics.js' %}"></script>
{% endblock %}
