{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Budżet domowy{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}"> {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block top-nav-wrapper %}
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
        <div class="modal-dialog modal-sm">
            <div id="modalMessage" class="alert alert-info fade in text-center">
                <strong></strong>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="/">Budżet domowy</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Zakupy</a>
                    </li>
                    <li>
                        <a href="{% url 'brands' %}">Sklepy</a>
                    </li>
                    <li>
                        <a href="{% url 'categories' %}">Kategorie</a>
                    </li>
                    <li>
                        <a href="">Statystyki</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="container">
        <div class="panel">
            <h1 class="text-center">{% block header %}Budżet domowy{% endblock %}</h1>
        </div>
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}


    {% block messages %}
        <script type="text/javascript">
            {% for message in messages %}
                showModalMessage("<strong>" + "{{ message }}" + "<strong>", "{{ message.tags }}", 3000);
            {% endfor %}
        </script>
    {% endblock %}
</body>

</html>
